*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

header{
	background-color: #18bc9c;
	width: 100%;
	height: 644px;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav{
	background: #2c3e50;
	z-index: 2;
}

.nav-bar-container{
	display: flex;
	align-items: center;
	height: 100px;
	justify-content: space-between;
	width: 100%;
	max-width: 1157px;
	margin: auto;
	
}

.nav-title{
	font-size: 28px;
	text-decoration: none;
}

ul.menu-list{
	display: flex;
	font-size: 14px;
}

.main-container{
	display: flex;
	flex-direction: column;
}

.profile{
	padding-bottom: 20px;
}

.profile,
.main-title,
.main-text{
	display: flex;
	justify-content: center;
}

.main-title{
	font-size: 4.25em;
}

.main-text{
	color: #fff;
	font-size: 1.56em;
	font-family: 'Lato', sans-serif

}

hr.icon-star{
	color: #fff;
	padding: 0;
	border: none;
	border-top: solid 5px;
	text-align: center;
	max-width: 250px;
	margin: 25px auto 0px;
}

#portfolio{
	width: 100%;
	height: 870px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.portfolio-title{
	text-align: center;
}

#gallery{
	width: 100%;
	max-width: 1140px;
}

.div-portfolio{
	display: flex;
	flex-direction: row;
}

.image-portfolio{
	width: 100%;
}

.figure-portfolio{
	padding: 20px 30px 10px 0;
}

.figure-portfolio:last-of-type{
	padding-right: 0;
}